@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  box-sizing: border-box;
  font-family: "Quicksand";
  font-size: 20px;
  padding-left: 50px;
  margin-top: 10px;
  background-color: lightgrey;
  color: #fff; }


  button {
    background-color: #00c7e8;
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    transition: .3s; }

  button:hover {
    background-color: violet; }
